.landing {
  display: flex;
  height: 80%;
  padding: 0 3%;  
  align-items: center;
}

.landing-text {
  width: 45vw;
}

.landing-text h1 {
  font-family: 'Patua One', cursive;    
  font-size: 7vmin;
  color:#a8312d;
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

p.desc {
  font-size: 2.5vmin;
}

.landing-image {
  width: 55vw;
}

.btn.get-started {
  font-size: 2.5vmin;
  color: #000;
  background-color: #5aac44;
  border: 1px solid transparent;
  /* border-radius: .2rem; */
  padding: 0.5em 0.75em;
}

.trips-list {
  border: 1px solid transparent;
  display: grid;    
  margin: 0;
  position: relative;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
}

.trips-list::after {
  content: '';
  flex: auto;
  margin-right: 20px;
}

.trip-container {  
  width: 300px;
  margin: 20px 10px;
}

.item-link:link,
.item-link:visited {
  text-align: center;  
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: 0px solid transparent;  
  text-decoration: none;  
  background: #454545;  
  opacity: 0.95;
}

.item-link {   
  position: relative;  
  z-index: 0;
}

.overlay {
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  transition: background 0.2s ease 0s;
  z-index: 0;
}

.overlay, overlay:focus {
  background: rgba(0, 0, 0, 0.2);
  margin: -1px;
  /* border: 1px solid #454545; */
  border-radius: 10px;
}

.t-title {
  z-index: 1;
  font-size: 19px;
  font-weight: 400;
}

.trips-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     */
}

.trips-index {
  width: 100vw;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}

.card {
  position: relative;
  cursor: pointer;
  height: 200px;
}

.card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px) scale(1); 
}

.card:hover .face.face1{
    background: #aa2d53;
    transform: translateY(0) scale(1.1);
}

.card .face.face1 .content{
    opacity: 0.75;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.card:hover .face.face1 .content{
    opacity: 1;
}

.card .face.face1 .content img{
    max-width: 100px;
}

.card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.card .face.face2{
    position: relative;
    background: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px) scale(1);   
    
}

.card:hover .face.face2{
    transform: translateY(0) scale(1.1);
}

.card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.card .face.face2 .content a:hover{    
    color: #fff;
}

.card .face .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card .face .action {  
  display: flex;
  margin-top: 15px;
}

.card .face .action button {
  margin: 0 5px;  
}

.card .face .action button:hover {
  background-color: #5aac44;
}

.card.active {
    z-index: 10;
}

#load-btn {
  margin-top: 170px;
  margin-bottom: 100px;
  font-size: 1.75em;
  padding: 10px 20px;
}

.fade-in {
  animation: fadeIn .5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
    
  to {
    opacity: 1;
  }
}