html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,sans-serif;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

a:hover, a:focus {
  color: #AF305C;
}

a:visited {
  color: #ffffff;
}