/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 769px) {
   .trips-list {
      width: 70%;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
   .trips-list {
      width: 80%;
   }

   .landing {
      flex-direction: column-reverse;
      justify-content: center;
   }

   .landing-image {
      width: 100%;
   }
   .landing-text {
      width: 98%;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   .landing-text h1 {
      font-size: 9vmin;
   }

   p.desc, .btn.get-started {
      font-size: 4vmin;
   }
}