.poi-item{
    text-align: center;
    cursor: pointer;
}

.poi-item:hover {
    background-color: ghostwhite;
}

.poi-pic{
    width: 200px;
    margin-bottom: 10px;
}

.popover {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: rgba(0,0,0,.6);
}

.modal_content {
    outline: none;
    background-color: whitesmoke;
    font-size: 15px;
    line-height: 1.46668;
    font-weight: 400;
    opacity: 1;
    height: auto;
    max-width: 520px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
}