.main-content {
  display: flex;
  height: 100%;
  justify-content: center;
}

.form_btn {
  position: relative;
}

.trip-details {
  position: relative;  
}

.trip-details-list {
  width: 300px;
}

.css-yk16xz-control:hover {
  cursor: pointer;
}

.trip-detail-container {
  position: relative;
  top: 7px;
  width: 292px;
  right: -5px;
  overflow-y: scroll;
  height: 78vh;
}
