.col-right{
    display: flex;
};

.form_btn{
    position: relative;
}

.trip-details{
    position: relative;
}

.trip-detail-container{
    position: relative;
    top: 7px;
    width: 253px;
    right: -5px;
    overflow-y: scroll;
    height: 72vh;

};