.bbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  border-radius: 3px;
  z-index: -1;
}

.item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(0, 0, 0, 0.35);
}

.item-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.t-action {
  z-index: 1;
  width: 50%;
  font-size: 24px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
}

.t-action:hover {
  background: rgba(255, 255, 255, 0.25);
}

#place-search-input {
  height: 44px;
}

#place-search-form div input {
  margin-bottom: 15px;
}

#place-search-form .form-button {
  margin-top: 10px;
}

#place-search-form .btn {
  margin-right: 20px;
}

.form-label {
  color: white;
  font-size: 2em;
  display: block;
  margin-bottom: 20px;
}

.share-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
}

.share-btn {
  margin: 0 10px;
  opacity: 0.73;
}

.share-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.trip-name {
  padding-bottom: 8px;
}

.row {
  display: flex; 
  padding-bottom: 5px; 
}

.place-info {
  margin-left: 5px;
}

.place-name {
  font-size: 0.8em;
  font-weight: 700;
}

.place-detail {
  font-size: 0.65em;  
}
